@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../fonts/font.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  margin: 0;
}

html body {
  margin: 0;
  border: none;
  background: url(../images/xrp.jpg);
  background-size: cover;
  color: #333;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  overflow-y: scroll;
}

html body a {
  color: #646464;
  text-decoration: none;
}

.main-box {
  width: 400px;
  position: relative;
  margin: 40px auto;
  padding: 20px 20px 20px 20px;
  background: linear-gradient(to bottom,#f5f5f5 0,#fff 19%,#fff 77%,#f5f5f5 100%);
  box-shadow: 0 0 0 5px rgba(0,0,0,.15);
}

.main-box h1 {
  padding-top: 50px;
}

.main-box h1, .main-box h2, .main-box h3, .main-box h4 {
  padding-bottom: 10px;
  text-align: center;
  color: #646464;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.social-icons {
  position: absolute;
  text-align: right;
  top: 20px;
  right: 15px;
}

.social-icons i {
  color: #333;
  opacity: .2;
  margin: 0 5px;
}

.social-icons i:hover {
  opacity: .8;
  color: #005580;
}

.clearfix {
  clear: both;
}

input {
  height: 20px;
  font-size: 14px;
  border: 1px solid #eee;
  text-align: center;
}

input[readonly] {
  background-color: #eee;
  color: #646464;
}
input {
  width: 346px;
  padding: 4px 6px;
}

.input-prepend {
  margin: 20px;
  text-align: center;
}

.input-prepend .prepend {
  text-align: left;
  font-weight: 600;
}

.status {
  margin-top: 8px;
  margin-left: 20px;
  display: inline-block;
}

.orange {
  color: #dc8246;
}

.create button {
  float: right;
  margin-right: 32px;
}
html body .button, html body button {
  display: inline-block;
  cursor: pointer;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 14px;
  background-color: #578ebe;
  border: 1px solid #578ebe;
  color: #fff;
  font-size: 14px;
  padding: 6px 12px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}
button, input, select, textarea {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-box hr {
  height: 2px;
  margin: 15px 0;
  border: none;
  background: linear-gradient(to right,rgba(249,249,249,.25) 0,#f9f9f9 50%,rgba(249,249,249,.25) 100%);
}

.main-box footer {
  text-align: center; 
  font-size: 13px;
  padding-bottom: 20px;
}